{% load staticfiles %}

<html>
    <head>
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Monika blog</title>
    </head>
    <body>
      <div>
  <h1 class="glowny_tytul"><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
  <div>
      <p class="tekst">published: {{ post.published_date }}</p>
      <h1 class="post-title"><a href="">{{ post.title }}</a></h1>
      <p class="tekst">{{ post.text|linebreaksbr }}</p>
      <p class="tekst">{{ post.author }}</p>
  </div>
{% endfor %}
    </body>
</html>
